{% extends 'base.html' %}

{% block title %}Device Details{% endblock %}


{% block content %}
    <div class="row">
        <h4>Device:{{ device.name }} </h4>
        <div class="col">
            <div class="d-block">
                <b>Location</b><p>{{ device.location }}</p>
                <b>Device Type</b><p>{{ device.device_type }}</p>
            </div>
            <div hx-get="/devices/{{ device.id }}/log" hx-trigger="load" hx-swap="innerHTML"></div>
        </div>
        <div class="col">
        </div>
    </div>
    
{% endblock %}
